* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
#container {
	text-align: center;
	margin-top: 25%;
	margin-bottom: 25%;
}
h1 {
	font-size: 50px;
	background-color: black;
	color: white;
	width: 50%;
	height: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 0.5em 0%;
}
span {
	color: #48a5e9;
}
button {
	padding: 1em 5%;
	margin: 1.5rem;
	border-color: darkblue;
	background-color: transparent;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
	transition: transform 250ms;
}
button:hover {
	transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 40px;
		width: 80%;
	}
}
@media only screen and (max-width: 425px) {
	h1 {
		width: 80%;
		height: 130px;
	}
}
